script:
  alarm_start:
    sequence:
      - service: media_player.play_media
        entity_id: media_player.master_bedroom
        data:
          media_content_id: "https://raw.githubusercontent.com/saeedsohi/siren/master/FireTrucksSirens.mp3"
          media_content_type: music
      - service: light.turn_on
        entity_id: light.bedside
        data:
          brightness_pct: 100
      - service: light.turn_on
        entity_id: light.bedside
        data:
          effect: Police

  alarm_stop:
    sequence:
      - service: media_player.media_stop
        entity_id: media_player.master_bedroom
      - service: light.turn_on
        entity_id: light.bedside
        data:
          brightness_pct: 60
          kelvin: 2400

automation:
  - alias: Security 路 Door opened while in night mode
    trigger:
      - platform: state
        entity_id: binary_sensor.front_door
        to: "on"
    condition:
      condition: state
      entity_id: sensor.house_mode
      state: "night"
    action:
      - service: light.turn_on
        entity_id: light.all
      - service: script.sonos_say
        data:
          message: "Caution: Front door opened during night mode!"
      - service: notify.telegram
        data:
          title: " *Security Module 路 Front Door Detection*"
          message: "Caution: Front door opened during night mode!"

  - alias: Security 路 Door opened while away
    trigger:
      - platform: state
        entity_id: binary_sensor.front_door
        to: "on"
    condition:
      and:
        - condition: state
          entity_id: binary_sensor.someone_home
          state: "off"
        - condition: state
          entity_id: input_boolean.guest_mode
          state: "off"
    action:
      - service: notify.telegram
        data:
          title: " *Security Module 路 Front Door*"
          message: "It seems like the front door was opened while you are away! Check the camera!"
