# https://github.com/hristo-atanasov/Tasmota-IRHVAC/
climate:
  - platform: tasmota_irhvac
    name: "TOSHIBA AC"
    command_topic: "cmnd/ir_blaster_1/irhvac"
    state_topic: "tele/ir_blaster_1/RESULT"
    temperature_sensor: sensor.multisensor_6_temperature
    protocol: "TOSHIBA_AC"
    max_temp: 30 #optional - default 32 int value
    min_temp: 17
    target_temp: 22 #optional - default 26 int value
    away_temp: 18 #optional - default 24 int value
    supported_modes:
      - "heat"
      - "cool"
      - "dry"
      - "auto"
      - "off"
    supported_fan_speeds:
      - "min"
      - "low"
      - "medium"
      - "high"
      - "max"
      - "auto"
    supported_swing_list:
      - "off"

automation:
  - alias: Climate 路AC 路Turn on if hot
    trigger:
      - platform: numeric_state
        entity_id: sensor.trisensor_temperature
        above: 24
      - platform: state
        entity_id:
          - binary_sensor.living_room_right_window
          - binary_sensor.bedroom_right_window
        from: "on"
        to: "off"
    condition:
      condition: and
      conditions:
        - condition: numeric_state
          entity_id: sensor.trisensor_temperature
          above: 24
        - condition: numeric_state
          entity_id: sensor.dark_sky_apparent_temperature
          above: 24
        - condition: state
          entity_id: input_boolean.georgi_home
          state: "on"
        - condition: state
          entity_id: binary_sensor.living_room_right_window
          state: "off"
        - condition: state
          entity_id: binary_sensor.bedroom_right_window
          state: "off"
        - condition: state
          entity_id: climate.toshiba_ac
          state: "off"
    action:
      - service: climate.turn_on
        entity_id: climate.toshiba_ac
      - delay: "00:00:01"
      - service: climate.set_hvac_mode
        entity_id: climate.toshiba_ac
        data:
          hvac_mode: "cool"
      - service: climate.set_fan_mode
        entity_id: climate.toshiba_ac
        data:
          fan_mode: "auto"
      - delay: "00:00:01"
      - service: climate.set_temperature
        entity_id: climate.toshiba_ac
        data:
          temperature: 19
      - service: logbook.log
        data:
          name: " Climate Module 路 "
          message: "AC 路 Switching on 路 Above 24 degrees, windows closed"
          domain: climate

  - alias: Climate 路AC 路Turn off
    trigger:
      - platform: time
        at: "05:00:00"

      # TODO: this below trigger works only for summer :)
      - platform: numeric_state
        entity_id: sensor.trisensor_temperature
        below: 20

      - platform: state
        entity_id:
          - binary_sensor.living_room_right_window
          - binary_sensor.bedroom_right_window
        from: "off"
        to: "on"
    condition:
      condition: not
      conditions:
        - condition: state
          entity_id: climate.toshiba_ac
          state: 'off'
    action:
      - service: climate.turn_off
        entity_id: climate.toshiba_ac
      - service: logbook.log
        data:
          name: " Climate Module 路 "
          message: "AC 路 Switching off"
          domain: climate
