automation:
  - alias: Lighting 路 Temperature 路Adjust on start
    mode: parallel
    trigger:
      platform: state
      entity_id:
        # If the lights are listed by groups, turning on 1 light always turns on the others in the group.
        - light.light_lohas_1
        - light.light_lohas_2
        - light.light_lohas_3
        - light.light_lohas_6
        - light.light_le_1
        - light.light_le_2
        - light.light_le_3
        - light.light_le_4
      to: "on"
    action:
      - service: light.turn_on
        data_template:
          entity_id: "{{ trigger.entity_id }}"
          color_temp: "{{ 400 if is_state('sun.sun', 'above_horizon') else 500 }}"

  - alias: Lighting 路 Temperature 路 Adjust based on time
    trigger:
      platform: sun
      event: sunset
    action:
      - service: light.turn_on
        data_template:
          entity_id:
            - light.master_bedroom_main
            - light.living_room_main
            - light.kitchen
            - light.hallway
          color_temp: "{{ 400 if is_state('sun.sun', 'above_horizon') else 500 }}"
      - service: logbook.log
        data_template:
          name: " Lighting Module 路 "
          message: >-
            Adjusting temperature - sun changed from {{ trigger.from_state.state }} to {{ trigger.to_state.state }}
          domain: light

# switch:
#   - platform: flux
#     disable_brightness_adjust: true
#     lights:
#       - light.living_room_main
#       - light.master_bedroom_main
#       - light.pc

# circadian_lighting:

# switch:
#   - platform: circadian_lighting
#     name: Circadian lights
#     disable_brightness_adjust: true
#     lights_ct:
#       - light.master_bedroom_main
#       - light.pc
#       - light.living_room_main
